langchain
langgraph
langchain-core
langchain-community
pymupdf
fastapi
jinja2
uvicorn[standard]
python-multipart
pydantic-settings
beautifulsoup4
python-docx
langchain-text-splitters
langchain-pinecone
langchain-tavily
python-dotenv
langchain-google-genai
langchain-groq
langchain-huggingface
pinecone
sentence-transformers
litellm